@{
    ViewBag.Title = "Home Page";
    var userRole = ViewBag.UserRole as string;
}
@model IEnumerable<ventasControl.Models.Product>

<main>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Accounting</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Sales Requests</button>
            <button class="nav-link" id="nav-product-tab" data-bs-toggle="tab" data-bs-target="#nav-product" type="button" role="tab" aria-controls="nav-product" aria-selected="false">Products</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <div id="sales-list">
                <!-- Aquí se cargarán las ventas mediante Ajax -->
            </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">Hola3</div>
        <div class="tab-pane fade" id="nav-product" role="tabpanel" aria-labelledby="nav-product-tab" tabindex="0">
            <p>
                <button>
                    @Html.ActionLink("Nuevo Producto", "Create", "Products")
                </button>
            </p>

            <div id="product-list">
                <!-- Aquí se cargarán los productos mediante Ajax -->
            </div>
        </div>
    </div>
    <div class="mt-3">
        <form method="post" action="/Account/Logout">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
</main>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#nav-product-tab').on('shown.bs.tab', function () {
                $.ajax({
                    url: '@Url.Action("LoadProducts", "Products")',
                    type: 'GET',
                    success: function (result) {
                        $('#product-list').html(result);
                    },
                    error: function () {
                        alert('Error loading product data.');
                    }
                });
            });

            $('#nav-profile-tab').on('shown.bs.tab', function () {
                $.ajax({
                    url: '@Url.Action("LoadSales", "Sales")',
                    type: 'GET',
                    success: function (result) {
                        $('#sales-list').html(result);
                    },
                    error: function () {
                        alert('Error loading sales data.');
                    }
                });
            });
        });
    </script>
}
